<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Добавить заведение']" icon="building"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">

            <form #shopForm="ngForm" (ngSubmit)="sendForm()" [saUiValidate]="validationOptions" novalidate="novalidate"
                  class="smart-form client-form" style="background: white;">

                <fieldset *ngIf="user.admin==true">
                    <legend>Параметры администратора</legend>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Translit</label>
                            <label class="input"> <i class="icon-append fa fa-qq"></i>
                                <input type="text" name="seo_translit" placeholder="Транслит"
                                       required [(ngModel)]="shopService.shop.seo_translit">
                                <b class="tooltip tooltip-bottom-right">Транслит</b>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Title</label>
                            <label class="input"> <i class="icon-append fa fa-qq"></i>
                                <input type="text" name="seo_title" placeholder="Заголовок страницы"
                                       required [(ngModel)]="shopService.shop.seo_title">
                                <b class="tooltip tooltip-bottom-right">Title</b>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Description</label>
                            <label class="input"> <i class="icon-append fa fa-qq"></i>
                                <input type="text" name="seo_desc" placeholder="Описание страницы"
                                       required [(ngModel)]="shopService.shop.seo_desc">
                                <b class="tooltip tooltip-bottom-right">Description</b>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Keywords</label>
                            <label class="input"> <i class="icon-append fa fa-qq"></i>
                                <input type="text" name="seo_keys" placeholder="Ключевые слова"
                                       required [(ngModel)]="shopService.shop.seo_keys">
                                <b class="tooltip tooltip-bottom-right">Keywords</b>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Широта</label>
                            <label class="input"> <i class="icon-append fa fa-qq"></i>
                                <input type="text" name="lat" placeholder="Введите координаты(широта)"
                                       required [(ngModel)]="shopService.shop.lat">
                                <b class="tooltip tooltip-bottom-right">Широта</b>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Долгота</label>
                            <label class="input"> <i class="icon-append fa fa-qq"></i>
                                <input type="text" name="lon" placeholder="Введите координаты(долгота)"
                                       required [(ngModel)]="shopService.shop.lon">
                                <b class="tooltip tooltip-bottom-right">Долгота</b>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Организация</label>
                            <label class="input">
                                <select type="text" name="org_id"
                                        class="form-control"
                                        required [(ngModel)]="shopService.shop.organization_id">
                                    <option *ngFor="let org of organizationService.organizations"
                                            value="{{org.id}}">{{org.name}}</option>
                                </select>
                                <b class="tooltip tooltip-top-right">
                                    <i class="fa fa-lock txt-color-teal"></i> Организация
                                </b>
                            </label>
                        </section>
                    </div>
                </fieldset>

                <fieldset>
                    <legend *ngIf="user.admin==true">Поля для пользователей</legend>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Название</label>
                            <label class="input"> <i class="icon-append fa fa-bank"></i>
                                <input type="text" name="name" placeholder="Название кальянной"
                                       required [(ngModel)]="shopService.shop.name">
                                <b class="tooltip tooltip-bottom-right">Название</b>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Адрес</label>
                            <label class="input"> <i class="icon-append fa fa-road"></i>
                                <input type="text" name="address" placeholder="Укажите адрес заведения"
                                       required [(ngModel)]="shopService.shop.address">
                                <b class="tooltip tooltip-top-right">
                                    <i class="fa fa-lock txt-color-teal"></i> Адрес
                                </b>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Телефон</label>
                            <label class="input"> <i class="icon-append fa fa-phone"></i>
                                <input type="text" id="phone" name="phone" placeholder="Укажите ваш телефон"
                                       required [(ngModel)]="shopService.shop.phone">
                                <!--<input type="text" id="phone" name="phone" placeholder="Укажите ваш телефон"
                                       saMaskedInput="(999) 999-9999"
                                       saMaskedPlaceholder="X"
                                       required [ngModel]="shopService.shop.phone">
                                -->
                                <b class="tooltip tooltip-top-right">
                                    <i class="fa fa-lock txt-color-teal"></i> Телефон
                                </b>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Краткое описание</label>
                            <label class="input"> <i class="icon-append fa fa-file-text-o"></i>
                                <input type="text" name="short_desc" placeholder="Краткое описание заведения"
                                       required [ngModel]="shopService.shop.short_desc">
                                <b class="tooltip tooltip-top-right">
                                    <i class="fa fa-lock txt-color-teal"></i> Краткое описание
                                </b>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Город</label>
                            <label class="input">
                                <select type="text" name="city_id"
                                        class="form-control"
                                       required [(ngModel)]="shopService.shop.city_id">
                                    <option *ngFor="let city of cityService.cities"
                                            value="{{city.id}}">{{city.name}}</option>
                                </select>
                                <b class="tooltip tooltip-top-right">
                                    <i class="fa fa-lock txt-color-teal"></i> Город
                                </b>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Категория</label>
                            <label class="input">
                                <select type="text" name="category_id"
                                        class="form-control"
                                        required [(ngModel)]="shopService.shop.category_id">
                                    <option *ngFor="let type of categoryService.categories"
                                            value="{{type.id}}">{{type.name}}</option>
                                </select>
                                <b class="tooltip tooltip-top-right">
                                    <i class="fa fa-lock txt-color-teal"></i> Категория
                                </b>
                            </label>
                        </section>
                    </div>
                    <section>
                        <label class="label">Сайт</label>
                        <label class="input"> <i class="icon-append fa fa-dribbble"></i>
                            <input type="text" name="site" placeholder="Оставьте адрес сайта"
                                   [(ngModel)]="shopService.shop.site">
                            <b class="tooltip tooltip-top-right">
                                <i class="fa fa-lock txt-color-teal"></i> Сайт
                            </b>
                        </label>
                    </section>
                    <section>
                        <label class="label">Вконтакте</label>
                        <label class="input"> <i class="icon-append fa  fa-vk"></i>
                            <input type="text" name="vk" placeholder="Укажите группу в вк"
                                   [(ngModel)]="shopService.shop.vk">
                            <b class="tooltip tooltip-top-right">
                                <i class="fa fa-lock txt-color-teal"></i> Вконтакте
                            </b>
                        </label>
                    </section>
                    <section>
                        <label class="label">Инстаграм</label>
                        <label class="input"> <i class="icon-append fa fa-instagram"></i>
                            <input type="text" name="inst" placeholder="Оставьте ссылку на ваш аккаунт в инстаграмме"
                                   [(ngModel)]="shopService.shop.inst">
                            <b class="tooltip tooltip-top-right">
                                <i class="fa fa-lock txt-color-teal"></i> Инстаграм
                            </b>
                        </label>
                    </section>
                    <div class="row">
                        <div class="col-xs-6 col-sm-2">
                            <label class="radio">Алкоголь</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" id="alcohol1" class="radiobox style-0"
                                           name="alcohol"
                                           value="true" [(ngModel)]="shopService.shop.alcohol">
                                    <span>Да</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" id="alcohol0" class="radiobox style-0"
                                           name="alcohol"
                                           value="false" [(ngModel)]="shopService.shop.alcohol">
                                    <span>Нет</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <label class="radio">Еда</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="radiobox style-0" checked="checked"
                                           name="food"
                                           value="true" [(ngModel)]="shopService.shop.food">
                                    <span>Да</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="radiobox style-0"
                                           name="food"
                                           value="false" [(ngModel)]="shopService.shop.food">
                                    <span>Нет</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <label class="radio">Веранда</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="radiobox style-0" checked="checked"
                                           name="veranda"
                                           value="true" [(ngModel)]="shopService.shop.veranda">
                                    <span>Да</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="radiobox style-0"
                                           name="veranda"
                                           value="false" [(ngModel)]="shopService.shop.veranda">
                                    <span>Нет</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <label class="radio">Парковка</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="radiobox style-0" checked="checked"
                                           name="parking"
                                           value="true" [(ngModel)]="shopService.shop.parking">
                                    <span>Да</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="radiobox style-0"
                                           name="parking"
                                           value="false" [(ngModel)]="shopService.shop.parking">
                                    <span>Нет</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <label class="radio">Приставки</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="radiobox style-0" checked="checked"
                                           name="board"
                                           value="true" [(ngModel)]="shopService.shop.board">
                                    <span>Да</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="radiobox style-0"
                                           name="board"
                                           value="false" [(ngModel)]="shopService.shop.board">
                                    <span>Нет</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <label class="radio">Игры</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="radiobox style-0" checked="checked"
                                        name="game"
                                        value="true" [(ngModel)]="shopService.shop.console">
                                    <span>Да</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="radiobox style-0"
                                           name="game"
                                           value="false" [(ngModel)]="shopService.shop.console">
                                    <span>Нет</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <section>
                        <label class="label">Полное описание</label>
                        <label class="input">
                            <textarea type="text" name="description" class="form-control"
                                      style="max-width: 100%"
                                      placeholder="Оставьте описание" rows="5"
                                   required [(ngModel)]="shopService.shop.description">
                            </textarea>
                        </label>
                    </section>
                    <section>
                        <div class="form-group">
                            <div *ngFor="let shed of shopService.shop.shedule" class="col-md-2 col-sm-3 col-xs-6">
                                <strong class="radio">{{shed.name}}</strong>
                                <div class="radio">
                                    <label>
                                        <input type="radio" class="radiobox style-0" [(ngModel)]="shed.type_work" value="1" name="optradio{{shed.id}}">
                                        <span>Выходной</span>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" class="radiobox style-0" [(ngModel)]="shed.type_work" value="2" name="optradio{{shed.id}}">
                                        <span>Круглосуточно</span>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" class="radiobox style-0" [(ngModel)]="shed.type_work" value="3" name="optradio{{shed.id}}">
                                        <span>Время</span>
                                    </label>
                                </div>
                                <div *ngIf="shed.type_work==='3'">От:
                                    <select name="work_b_{{shed.id}}"
                                            [(ngModel)]="shed.work_begin"
                                            id="work_b_{{shed.id}}"
                                            class="form-control">
                                        <option *ngFor="let number of shopService.numbers"
                                                value="{{number}}">{{number}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="shed.type_work==='3'">
                                    До:
                                    <select name="work_e_{{shed.id}}"
                                            [(ngModel)]="shed.work_end"
                                            id="work_e_{{shed.id}}"
                                            class="form-control">
                                        <option *ngFor="let number of shopService.numbers"
                                                value="{{number}}">{{number}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                </fieldset>

                <footer>
                    <!--[disabled]="(disabled||shopForm.form.invalid)"-->
                    <button type="submit" class="btn btn-primary" [disabled]="(disabled||shopForm.form.invalid)">
                        Добавить
                    </button>
                </footer>

            </form>

        </div>
    </div>
</div>