<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Заведение']" icon="building"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-primary" routerLink="/shop/addShop">Добавить</a>
        </div>
        <div class="col-sm-12">

            <table class="table table-striped" [mfData]="shopService.shops" #mf="mfDataTable" [mfRowsOnPage]="5">
                <thead>
                <tr>
                    <th style="width: 20%">
                        <mfDefaultSorter by="name">name</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="address">address</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="phone">phone</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter by="active">active</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data">
                    <td>{{item.name}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.active}}</td>
                    <td>
                        <a class="btn btn-primary" routerLink="/shop/editShop/{{item.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>

            <!--
            <sa-widget [editbutton]="false" color="blueDark">
                <div>
                    <div class="widget-body no-padding">

                        <sa-datatable [options]="{
                            scrollX: true,
                            ajax: {
                                'url': '//api.kalyan.space/listShop',
                                'type': 'POST'
                            },
                            processing:true,
                            serverSide:true,
                            select:true,
                            columns: [
                                 {data: 'id'},
                                 {data: 'name'},
                                 {data: 'address'},
                                 {data: 'phone'},
                                 {data: 'active'},
                                 {data: 'edit'}
                            ]}"
                                tableClass="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th data-hide="phone">Ид</th>
                                    <th data-class="expand">Название</th>
                                    <th data-hide="phone">Адрес</th>
                                    <th data-hide="phone,tablet">Телефон</th>
                                    <th data-hide="phone,tablet">Статус</th>
                                    <th data-hide="phone,tablet"></th>
                                </tr>
                            </thead>
                        </sa-datatable>

                    </div>
                </div>
            </sa-widget>
            -->
        </div>
    </div>
</div>