<div class="row">
    <div class="col-sm-12">

        <form #userForm="ngForm" (ngSubmit)="sendForm()" [saUiValidate]="validationOptions" novalidate="novalidate"
              class="smart-form client-form" style="background: white;">

            <fieldset>
                <div class="row">
                    <section class="col col-6">
                        <label class="label">Название</label>
                        <label class="input"> <i class="icon-append fa fa-bank"></i>
                            <input type="text" name="email" placeholder="Укажите почту пользователя"
                                   required [(ngModel)]="userService.user.email">
                            <b class="tooltip tooltip-bottom-right">Email</b>
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">Пароль</label>
                        <label class="input"> <i class="icon-append fa fa-road"></i>
                            <input type="text" name="password" placeholder="Пароль для пользователя"
                                   required [(ngModel)]="userService.user.password">
                            <b class="tooltip tooltip-top-right">
                                <i class="fa fa-lock txt-color-teal"></i> Адрес
                            </b>
                        </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-6">
                        <label class="label">Организация</label>
                        <label class="input">
                            <select type="text" name="organization_id"
                                    class="form-control"
                                    required [(ngModel)]="userService.user.organization_id">
                                <option *ngFor="let org of organizationService.organizations"
                                        value="{{org.id}}">{{org.name}}</option>
                            </select>
                            <b class="tooltip tooltip-top-right">
                                <i class="fa fa-lock txt-color-teal"></i> Организация
                            </b>
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">Роль</label>
                        <label class="input">
                            <select type="text" name="organization_id"
                                    class="form-control"
                                    required [(ngModel)]="userService.user.role_id">
                                <option value="1">Админ</option>
                                <option value="2">Пользователь</option>
                            </select>
                            <b class="tooltip tooltip-top-right">
                                <i class="fa fa-lock txt-color-teal"></i> Организация
                            </b>
                        </label>
                    </section>
                </div>
            </fieldset>

            <footer>
                <!--[disabled]="(disabled||shopForm.form.invalid)"-->
                <button type="submit" class="btn btn-primary" [disabled]="(disabled||userForm.form.invalid)">
                    Добавить
                </button>
            </footer>

        </form>

    </div>
</div>
