<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <a routerLink="/shop/add" class='btn btn-primary'>
                Добавить
            </a>
        </div>
    </div>
    <div *ngIf="(shops !== undefined)" style="margin-top:10px;">
        <table class="table table-striped">
            <thead> 
                <tr> 
                    <th>Название</th> 
                    <th>Адрес</th> 
                    <th>Телефон</th> 
                    <th>Статус</th> 
                    <th></th> 
                </tr> 
            </thead>
            <tbody>
                <tr *ngFor='let shop of shops; let i = index;'>
                    <td>{{shop.name}}</td>
                    <td>{{shop.address}}</td>
                    <td>{{shop.phone}}</td>
                    <td>{{(shop.active)?'активный':'проверка'}}</td>
                    <td>
                        <div class='btn btn-group'>
                            <a routerLink="/shop/edit/{{shop.id}}" class='btn btn-primary' style="border-radius: 0px;"><span class='glyphicon glyphicon-pencil'></span></a>
                            <a class='btn btn-danger' (click)="del(i,shop.id)" style="border-radius: 0px;"><span class='glyphicon glyphicon-trash'></span></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div [ngClass] = "[message.class]"
        [hidden]="message.hide" style='width: 300px;position: absolute;top:10px;right:20px;'>
            {{message.text}}
    </div>
</div>
