<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <a routerLink="/shop/add" class='btn btn-primary'>
                Добавить
            </a>
        </div>
    </div>

    <div class='row row-hookah' *ngFor='let shop of shops'>
        <div class='col-sm-10 col-md-11'>
            <p>
                {{shop.name}}<br>Адрес:{{shop.address}}<br>Телефон:{{shop.phone}}<br>Статус:{{(shop.enabled)?'активный':'проверка'}}
            </p>
        </div>
        <div class='col-sm-2 col-md-1'>
            <div class='btn btn-group-vertical'>
                <a routerLink="/shop/edit/{{shop.id}}" class='btn btn-primary'><span class='glyphicon glyphicon-pencil'></span></a>
                <a class='btn btn-danger'><span class='glyphicon glyphicon-trash'></span></a>
            </div>
        </div>
    </div>
</div>
